{% load staticfiles %}
<html>
    <head><title>Test Doc form</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head>
    <body>
    <h1>Testers</h1>
    <ul>
        {% for q in questions %}
        <div>
            <h1>{{ q.user_name }}</h1>
            <p>{{ q.text }}</p>
            <p>Channel : {{q.channel_name}} <br>
                token :  {{q.token}} <br>
                team_id : {{q.team_id}} <br>
                team_domain : {{q.team_domain}} <br>
                
                channel_id : {{q.channel_id}} <br>
                channel_name : {{q.channel_name}} <br>
                user_id : {{q.user_id}} <br>
                user_name : {{q.user_name}} <br>
                command : {{q.command}} <br>
                response_url : {{q.response_url}} <br>
                trigger_id : {{q.trigger_id}} <br>
            </p>

        </div>
        <hr>
        {% endfor %} 
    </ul>

</body>

</html>